
main select, input[type=text], textarea {
	width: 150px;
	margin-left: 0px;
	border-width: thin;
	border-color: black;
}

main label {
	margin-right: 20px;
}

.formWithValidation {
	font: normal 0.9em Arial;
	margin: 20px 0 0 25px;
	text-align: right;
	background-color: white;
}

.formWithValidation input[type=submit] {
	width: 120px;
	background-color: white;
	border-radius: 5px;
	border-width: medium;
	box-shadow:-2px -2px 9px rgba(0, 0, 0, 0.1);
	font: normal 0.8em Verdana;
	margin-bottom: 30px;
}

.formWithValidation textarea {
	display:block;
	width:300px;
	height:80px;
	resize: none;
}

.formWithValidation div {
	margin-top: 10px;
	text-align: left;
}